.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* In your CSS or SCSS file */
.selected-button {
  font-weight: bold;
  text-decoration: underline;
}
/* In your CSS or SCSS file */
.website-container .selected-link {
  font-weight: bold;      /* Make text bold */
  text-decoration: underline; /* Underline text */
  /* Add any other styles you want for selected links */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* App.css */
.website-container {
  width: 1920px;
  height: 1080px;
  margin: 0 auto; /* Center the container horizontally on the page */
  overflow: hidden; /* Optional: Hide content overflowing the fixed size */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
